@charset "utf-8";
.box3 {
    width: 100px;
    height: 100px;
    background-color: #DFB0B1;
    -webkit-transition: all 1000ms ease 0s;
    -o-transition: all 1000ms ease 0s;
    transition: all 1000ms ease 0s;
}
.box2 {
    background-color: #6B529A;
    width: 100px;
    height: 100px;
    -webkit-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: #648DBF;
    -webkit-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms;
}
.box1:hover {
    background-color: #C38687;
	transform: translate(25px, 25px);
}
.box2:hover {
    background-color: #CB4D4F;
	 transform: rotate(180deg);
}
.box3:hover {
    background-color: #115C9A;
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
}
